body {
  margin: 0;
  font-size: 20px;
  background-color: white;
  font-family: Arial;
}
h1, h2, h3, p {
  margin: 0;
}
.element1 {
  min-width: 300px;
  max-width: 300px;
  background-color: #bbdefb;
}
.element2 {
  width: 100%;
  background-color: #64b5f6;
  text-align: end;
}
.element3 {
  background-color: #90caf9;
}
.element4 {
  background-color: #fce4ec;
}
.element5 {
  text-align: center;
  white-space: pre-line;
  background-color: #ffc1e3;
}
.element6 {
  background-color: #f8bbd0;
}
.element7 {
  background-color: #f48fb1;
  font-size: 40px;
}
.header {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  overflow: hidden;
}
.app-wrapper {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.app-wrapper img {
  width: 100%;
}
.unused {
  min-width: 300px;
  max-width: 300px;
}
main {
  width: 100%;
}
@media screen and (max-width: 720px) {
  .app-wrapper {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
  }
  .unused {
    width: 100%;
    max-width: unset;
  }
  .header {
    flex-direction: column;
  }
  .element1 {
    max-width: unset;
    width: 100%;
  }
}
